*{
    margin:0;
    padding:0;
    font-family: Arial;
    box-sizing: border-box;
}
#container{
    width: 1200px;
    height: 830px;
    border-radius: 20px;
    margin: auto;
}
img.logo{
    width: 298px;
    height: 71px;
    display:block;    
    border-top-left-radius: 20px;
}
nav{
    width: 1200px;
    height: 40px;
    font-size: 16px;
    text-align: right;
}
nav a {
    display: inline-block;  
    text-decoration: none;
    margin-left: 30px;
    padding-top: 20px;
    color: #360109;
    }

header{
    width:1200px;
    height: 360px;
}

h1,h2,h3,h4{
    color:#E94D40;
}

section{
    width:1200px;
}

.home{
    margin-left: 100px;
}

.about{
    margin-left: 100px;
}
 /* End index page CSS and start product page */

.products{
    margin-left: 140px;           
}

/* start table CSS */
table {
    border-color: gold;
    width: 50%;
    border-collapse: collapse;
}
      th, td {
    border: 1px solid black;
    padding: 8px;
    text-align: center;
}
th {
    background-color: black;
    color: white;
}
tr:nth-child(odd) {
    background-color: lightblue;
}
/* start Form CSS */
fieldset{
    border-color: goldenrod;
    width: 300px;
    height: 200px;
}
input{
    border-color: lightgray;
    width: 150px;
    height: 20;
 }

textarea{
    border-color: lightgray;
    width: 150px;
}
label{
    display: inline-block;
    width: 100px;
    height: 30px;
    margin-left: 10px;
    margin-top: 5px;
}

button{
    margin-left: 10px;
    margin-top: 5px;
}
/* End product page CSS and Form CSS */

footer{
    width: 1200px;
    height: 50px;
    background-color:#0C234C;
    color: white;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    text-align: center;
    font-size: 18px;
    padding-top: 20px;
}